h1 {
  font-family: "Brush Script MT",  Cursive; 
}
body
{
	background-color: #FFFFCC;
}
/*h2{
	color:rgb(0, 0, 255);
	text-align: center;
	border: 5px solid rgba(0, 255, 0, 0.5);
	cursor: pointer;
}*/
